* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$photo-height: 200px;
$number-circle-height: 32px;

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #2f4f4f;
  font-weight: bold;
}

.people {
  display: grid;
  grid: repeat(3, 245px) / repeat(4, 220px);
  justify-content: center;
  justify-items: center;
  gap: 20px 10px;
  padding: 30px 0 150px;
}

.person:not(:hover) {
  transition: all 1s;
}

.person:hover {
    background: #eee;
    border-radius: 12px;
    padding: 10px;
    height: 287px;
    transform: scale(1.2);
    transition: all 1s; 
    z-index: 1;

  img {
    border-radius: 60px;
    margin-bottom: 8px;
  }

  .extra {
    display: block;
    margin-top: 9px;
    color: #000;
  }
}

.photo {
  position: relative;
  height: 200px;
  width: 200px;
  margin-bottom: 8px;

  .rank {
    position: absolute;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    top: $photo-height / 2 - $number-circle-height / 2;
    right: 10px;
    color: #8b0000;
  }

  img {
    width: 200px;
    border-radius: 50%;
  }
}

.details {
  text-align: center;

  .extra {
    display: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
  }
}

@media (max-width: 750px) {
  .people {
    grid: repeat(5, 245px) / repeat(2, 220px);
  }
}